@{
    Layout = "~/EmailTemplates/Shared/_Layout";
}
@using HolmuskChallenge.EmailViewModels.Account
@model HolmuskChallenge.EmailViewModels.Account.AccountConfirmationViewModel

Please confirm your account by clicking this link: <a href="@Model.ConfirmationLink">link</a>